<div class="row show-grid">
	<div class="span2">
		<div class="btn-group">
			<button class="btn dropdown-toggle" data-toggle="dropdown">
				Operacoes<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				#{if _opIncluir == 'true'}
					<li><a href="${_acaoIncluir}"><i class="icon-plus"></i> Incluir</a></li> 
				#{/if}
				
				#{if _opAlterar == 'true'}
					<li><a href="${_acaoAlterar}"><i class="icon-edit"></i> Alterar</a></li> 
				#{/if}
				
				#{if _opDesativar == 'true'}
					<li><a href="${_acaoDesativar}"><i class="icon-minus"></i> Desativar</a></li>	
				#{/if}

			</ul>
		</div>
	</div>
</div>