<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script>
	$('.tabs').button();
</script>
<div class="row show-grid">
	<div class="span2">
		<div class="btn-group">
			<button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-plus-sign"></i> Operacões<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				#{if _opIncluir == 'true'}
					<li><a href="/${_controller}/form/1"><i class="icon-plus"></i> Incluir</a></li> 
				#{/if}
				
				#{if _opAlterar == 'true'}
					<li><a href="${_acaoAlterar}"><i class="icon-edit"></i> Alterar</a></li> 
				#{/if}
				
				#{if _opDesativar == 'true'}
					<li><a href="${_acaoDesativar}"><i class="icon-minus"></i> Desativar</a></li>	
				#{/if}

			</ul>
		</div>
	</div>
	<div class="span10" align="right">
		<button id="ocultar" class="btn btn-primary" data-toggle="button"><i class="icon-search icon-white"></i> Filtrar por coluna</button>
	</div>
</div>