<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

#{extends 'layout_principal.html' /} 
#{cabecalho_pagina titulo:'Cadastro de Funcionários', descricao_lateral:'Cadastro de funcionários'/}


<script>
	$(document).ready(function() {
		
		//incui a configuracao de close dos alerts
		$(".alert").alert()
		
		//inclui o ordenador 
        $("#tabela")
        	.tablesorter()
        	.tablesorterPager({container: $("#pager")
       	});
        
		//inclui o filtro por coluna
        $("#tabela").tableFilter({ 
            ignoreCase: true,
            inputClasses: "input-small",
            emptyMessage: "<div class='alert alert-error'>Não foram encontrados registros para o critério de pesquisa.</div>",
            columns: [1,2,3,4,5,6,7]
        });

      	//a linha de filtros fica oculta quando carrega a página
        $("thead tr:last").hide();

      	//Controla o botao de exibir/ocultar os filtros de coluna
        $("#ocultar").click(function () {
            $("thead tr:last").fadeToggle(200);
        });

        
	});


</script>
 #{menu_operacoes 
 	opIncluir:'true', acaoIncluir:'/funcionarios/', 
 	opAlterar:'true', acaoAlterar:'/funcionarios/simular',
 	opDesativar:'true', acaoDesativar:'/funcionarios/form'
 /}

<br />

<form action="#" method="POST">
	<table id="tabela" class="table table-bordered">
		<thead>
			<tr>
				<th>#</th>
				<th>ID</th>
				<th>CPF</th>
				<th>Nome</th>
				<th>Cargo</th>
				<th>Carga Horária</th>
				<th>Tel. Fixo</th>
				<th>Tel. Celular</th>
			</tr>
		</thead>
		<tbody>
			#{paginate.list items:paginator, as:'lf'}
				<tr>
					<td>#{checkbox name:'funcionario' , value:lf?.id/}</td>
					<td>${lf?.codigoFuncionario}</td>
					<td>${lf?.cpfFormatado}</td>
					<td>${lf?.nome}</td>
					<td>${lf?.cargo?.descricao}</td>
					<td>${lf?.carga_horaria}</td>
					<td>${lf?.telefone_fixo}</td>
					<td>${lf?.telefone_celular}</td>
				</tr>
			#{/paginate.list}
			
		</tbody>
	</table>
	<table align="center">
		<tr>
			<td>#{paginate.controls items:paginator /} </td>
		</tr>
	</table>
</form>
<br/>





