<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

#{extends 'layout_principal.html' /} 
#{cabecalho_pagina titulo:'Cadastro de Funcionários', descricao_lateral:'Cadastro de funcionários'/}


<script>
	$(document).ready(function() {
		
		$(".alert").alert()
		
        $("#tabela")
        	.tablesorter()
        	.tablesorterPager({container: $("#pager")
       	});
        

        $("#tabela").tableFilter({ 
            ignoreCase: true,
            inputClasses: "input-small",
            emptyMessage: "<div class='alert alert-error'>Não foram encontrados registros para o critério de pesquisa.</div>",
            columns: [1,2,3,4,5,6,7]
        });
	});


</script>
 #{menu_operacoes 
 	opIncluir:'true', acaoIncluir:'/funcionarios/', 
 	opAlterar:'true', acaoAlterar:'/funcionarios/simular',
 	opDesativar:'true', acaoDesativar:'/funcionarios/form'
 /}

<br />
<form action="#" method="POST">
	<table id="tabela" class="table table-bordered">
		<thead>
			<tr>
				<th>#</th>
				<th>ID</th>
				<th>CPF</th>
				<th>Nome</th>
				<th>Cargo</th>
				<th>Carga Horária</th>
				<th>Tel. Fixo</th>
				<th>Tel. Celular</th>
			</tr>
		</thead>
		<tbody>
			#{list listaFuncionarios, as:'lf'}
				<tr>
					<td>#{checkbox name:'funcionario' , value:lf?.id/}</td>
					<td>${lf?.codigoFuncionario}</td>
					<td>${lf?.cpfFormatado}</td>
					<td>${lf?.nome}</td>
					<td>${lf?.cargo?.descricao}</td>
					<td>${lf?.carga_horaria}</td>
					<td>${lf?.telefone_fixo}</td>
					<td>${lf?.telefone_celular}</td>
				</tr>
			#{/list}
		</tbody>
	</table>

	<table align="center">
		<tbody>
			<tr>
				<td>#{paginacao/}</td>
			</tr>
		</tbody>
	</table>
</form>
<br/>




